<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>Gerenciamento</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		
	</head>
	<body>
	<p th:text="${mensagem}"></p>
		<header>
			<div class="container">
				<h1 style="cursor: pointer" class="titulo">Gerenciamento de Condomínio</h1>
			</div>
		</header>
	<main>

		<section class="container">
			<h2 id="titulo-form">Adicionar novo inquilino</h2>
			<ul id="mensagens-erro">
				<li></li>
				<li></li>
				<li></li>
			</ul>

			<form th:action="@{/post}" th:object="${registro}" method="post">
				<!-- Nome --><div class="grupo">
				<label for="nome">Nome:</label>
				<input id="nome" type="text" value="" name="nome"
						placeholder="digite o nome do inquilino"
						class="campo">
			</div>
				<!-- Bloco --><div class="grupo">
				<label for="block">Bloco:</label>
				<input id="block" type="text" value="" name="block"
					placeholder="digite o número do Bloco"
					   class="campo campo-medio">
			</div>
				<!-- Apartamento --><div class="grupo">
				<label for="apartment">Apartamento:</label>
				<input id="apartment"
					   type="text" value="" name="apartment"
					   placeholder="digite o número do apartamento"
					   class="campo campo-medio">
			</div>
				<!-- Contato --><div class="grupo">
				<label for="contato">Contato:</label>
				<input id="contato"
					   type="text" value="" name="contato"
					   placeholder="digite o contato do responsável"
					   class="campo campo-medio">
			</div>
				<!-- Vaga --><div class="grupo">
				<label for="parkingSpotNumber">Vaga:</label>
				<input id="parkingSpotNumber" type="text" value="" name="parkingSpotNumber"
				placeholder="digite o número da Vaga"
				class="campo campo-medio">
			</div>
				<!-- Marca --><div class="grupo">
				<label for="brandCar">Marca:</label>
				<input id="brandCar"
					   name="brandCar"
					   type="text"

					   placeholder="digite a marca do Veículo"
					   class="campo campo-medio">
			</div>
				<!-- Carro --><div class="grupo">
				<label for="modelCar">Veículo:</label>
				<input id="modelCar"
					   name="modelCar"
					   type="text"

					   placeholder="digite o nome do Veículo"
					   class="campo campo-medio">
			</div>
				<!-- Cor --><div class="grupo">
				<label for="placa">Placa do Veículo:</label>
				<input id="placa"
					   type="text" value="" name="cor"
					   placeholder="digite a placa do veículo"
					   class="campo campo-medio">
			</div>
				<!-- Cor --><div class="grupo">
				<label for="cor">Cor do Veículo:</label>
				<input id="cor"
					   type="text" value="" name="cor"
					   placeholder="digite a cor do veículo"
					   class="campo campo-medio">
			</div>
				<!-- Adicionar --><button type="submit"
										  id="adicionar-paciente"
										  class="botao bto-principal">Adicionar</button>
			</form>
		</section>


		<section class="container">
			<h2>Moradores</h2>
			<label for="filtrar-tabela">Filtre:</label>
			<input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o nome do inquilino">
			<table>
				<thead>
				<tr>
					<th>Nome</th>
					<th>Bloco</th>
					<th>Número AP</th>
					<th>Contato</th>
					<th>Vaga de estacionamento</th>
					<th>Marca</th>
					<th>Veículo</th>
					<th>Data de registro</th>
					<th>Placa do veículo</th>
					<th>Cor do veículo</th>
					<th>     ID     </th>
				</tr>
				</thead>
				<tbody id="tabela-pacientes">
				<tr th:each="registro : ${registros}"  class="paciente" id="primeiroPaciente">
					<td class="info-nome">[[${registro.resposibleName}]]</td>
					<td class="info-bloco">[[${registro.block}]]</td>
					<td class="info-ap">[[${registro.apartment}]]</td>
					<td class="info-contato">[[${registro.contato}]]</td>
					<td class="info-vaga">[[${registro.parkingSpotNumber}]]</td>
					<td class="info-marca">[[${registro.brandCar}]]</td>
					<td class="info-modelo">[[${registro.modelCar}]]</td>
					<td class="info-modelo">[[${registro.licensePlateCar}]]</td>
					<td class="info-data-registro">[[${registro.registrationDate}]]</td>
					<td class="info-cor">[[${registro.colorCar}]]</td>
					<td class="info-id">	[[${registro.id}]]	</td>

				</tr>

				</tbody>
			</table>
			<span id="erro-ajax" class="invisivel">Erro ao buscar inquilino</span>
			<button id="buscar-pacientes" class="botao bto-principal">Buscar</button>
		</section>
	</main>



		<script type="text/javascript" src="js/calcula-imc.js"></script>
		<script type="text/javascript" src="js/form.js"></script>
		<script type="text/javascript" src="js/remover-paciente.js"></script>
		<script type="text/javascript" src="js/filtra.js"></script>
		<script type="text/javascript" src="js/buscar-pacientes.js"></script>
	</body>
</html>
