<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
</head>
<body>
<div class="login-box">
    <h2>Login</h2>
<form th:action="@{/login}" method="post" class="form login">
    <div class="user-box">
        <input id="user-box" type="text" name="username" required="true">
        <label for="user-box">Usuário</label>
    </div>
    <div class="user-box">
        <input id="password" type="password" name="password" required="true">
        <label for="password">Senha</label>
    </div>
    <a href="dashboard">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Entrar
    </a>
</form>
</div>
</body>
</html>