<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/register-form.css"
</head>
<body>
    <header class="cabecalho">
        <a href="Index.html" class="cabecalho_nome">streamigos</a>
        <nav class=" cabecalho_menu">
            <a href = "https://trovo.live/team/Mira_Bambu" class=" cabecalho_menu_item">Mira Bambu</a>
            <a href = "https://trovo.live/team/Streamigos" class=" cabecalho_menu_item">Streamigos</a>
            <a href = "https://trovo.live/ScryterX"class=" cabecalho_menu_item">Trovo</a>
            <a href = "https://twitch.tv/ScryterX" class=" cabecalho_menu_item">Twitch</a>
            <a href = "https://discord.gg/sWG9dpCT3E" class=" cabecalho_menu_item">Discord</a>
        </nav>
    </header>
<main>
    <form action="action_page.php">
        <div class="container">
          <center><h1 class="cabecalho_menu_item">Oxe, e lá temos um termo de serviço e privacidade?</h1></center>
          <center><h2 class="cabecalho_menu_item">Finge que aqui tem um</h2></center>
          <br>
          <center><img class="conteudo_principal_imagem"src="img/404.png" alt="404"></center>
          <center><img class="conteudo_principal_imagem"src="img/eoq.jpg" alt="404"></center>
      </form>
</main>
<footer>
    <header class="rodape">
        
    </header>
</footer>
</body>

</html>